.header {
  background: rgba( 255, 255, 255, 0.4 )!important;
  backdrop-filter: blur( 5px )!important;
  -webkit-backdrop-filter: blur( 5px )!important;
}

.card {
  color: white;
  background: rgba( 255, 255, 255, 0.4 )!important;
  backdrop-filter: blur( 5px )!important;
  -webkit-backdrop-filter: blur( 5px )!important;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  background: rgba( 255, 255, 255, 0.4 )!important;
  backdrop-filter: blur( 5px )!important;
  -webkit-backdrop-filter: blur( 5px )!important;
}


@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #9fa4fe;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 0%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 89%;
  width: 144px;
  height: 144px;
  bottom: -144px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 81%;
  width: 185px;
  height: 185px;
  bottom: -185px;
  animation-delay: 6s;
}
.background li:nth-child(3) {
  left: 39%;
  width: 195px;
  height: 195px;
  bottom: -195px;
  animation-delay: 1s;
}
.background li:nth-child(4) {
  left: 81%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 3s;
}
.background li:nth-child(5) {
  left: 2%;
  width: 165px;
  height: 165px;
  bottom: -165px;
  animation-delay: 13s;
}
.background li:nth-child(6) {
  left: 65%;
  width: 132px;
  height: 132px;
  bottom: -132px;
  animation-delay: 14s;
}
.background li:nth-child(7) {
  left: 54%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 6s;
}
.background li:nth-child(8) {
  left: 41%;
  width: 147px;
  height: 147px;
  bottom: -147px;
  animation-delay: 34s;
}
.background li:nth-child(9) {
  left: 25%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 23s;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #668cff;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #adcdff;
  border-radius: 28px;
}